@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body {background-color: hsl(212, 45%, 89%);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-size: 15px;
    font-family: Outfit, sans-serif;}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.cont {background-color: white;
    width: 20em;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 1em;
    border-radius: 1em;
}


img {width: 100%;
    border-radius: 0.8em;
}

.texto {
    margin: 1em;
}

h1 {color: hsl(218, 44%, 22%);
    margin-top: 0;
    text-align: center;
    font-size: 23px;
}

p {color: hsl(216, 15%, 48%);
    text-align: center;
    font-size: 1rem;
}

.attribution a { color: hsl(228, 45%, 44%); }

.attribution {
    font-size: 11px;
    margin: auto;
}