@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    --bg-body: hsl(212, 45%, 89%);
    --bg-cont: white;
    --fontcolor-title: hsl(218, 44%, 22%);
    --fontcolor-p: hsl(216, 15%, 48%);
    --color-a: hsl(228, 45%, 44%);
}


body {background-color: var(--bg-body);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-size: 0.9em;
    font-family: Outfit, sans-serif;}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.cont {
    background-color: var(--bg-cont);
    width: 21em;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 1em;
    border-radius: 1em;
}


img {
    width: 100%;
    border-radius: 0.8em;
}

.texto {
    margin: 1em;
}

h1 {
    color: var(--fontcolor-title);
    margin-block-start: 0;
    text-align: center;
    font-size: 1.5em;
}

p {color: var(--fontcolor-p);
    text-align: center;
    font-size: 1.1em;
}

.attribution a { color: var(--color-a); }

.attribution {
    font-size: 0.8em;
    margin: auto;
}